.nav-ul li a{
  text-decoration: none;
  color: white;
  padding: 5px;
}
.nav-ul li{
  display: inline-block;
  padding: 10px;
}
.nav-ul{
  background-color: skyblue;
  padding: 5px;
  margin: 0;
}
.nav-right{
  text-align: right;
}
.logo{
  width: 40px;
  float: left;
  border-radius: 50%;
  
}
.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: skyblue;
  color: black;
  width: 100%;
}
.inputBox{
    display: block;
    width: 250px;
    padding: 15px;
    margin: 30px;
    border: 1px solid skyblue;
}

.register ,.addProduct{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.subutton,.addProductBtn{
  background-color: skyblue;
  color: white;
  margin: 20px;
  padding: 15px;
  width: 150px;
  cursor: pointer;
}
.invalid-input{
  color: red;
  font-size: 12px;
  margin-top: -25px;
  display: block;
  margin-left: 20px;
}
.product-list{
  text-align: center;
}

.product-list ul{
  
  font-size: 12px;
  padding: 15px;
  margin: -30px;
}
.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  width: 10%;
  padding: 10px;
  
}
.update{
  text-decoration: none;
}
.search{
  margin: 30px;
  padding: 10px;
  width: 20%;
  border: 1px solid skyblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
